/* line 1, ../../../app/stylesheets/humanmsg.sass */
html, body {
  height: 100%; }

/* line 4, ../../../app/stylesheets/humanmsg.sass */
.humanMsg {
  font: normal 20px/50px Helvetica, Arial, Sans-Serif;
  letter-spacing: -1px;
  position: fixed;
  top: 130px;
  left: 25%;
  width: 50%;
  color: white;
  background-color: black;
  text-align: center;
  display: none;
  opacity: 0;
  z-index: 100000;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em; }
  /* line 27, ../../../app/stylesheets/humanmsg.sass */
  .humanMsg p {
    padding: .3em;
    display: inline;
    color: white; }
  /* line 32, ../../../app/stylesheets/humanmsg.sass */
  .humanMsg a {
    display: none;
    color: white; }

/* line 36, ../../../app/stylesheets/humanmsg.sass */
#humanMsgLog {
  font: normal 10px Helvetica, Arial, Sans-Serif;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  display: none;
  z-index: 10000; }
  /* line 47, ../../../app/stylesheets/humanmsg.sass */
  #humanMsgLog p {
    color: #EEE;
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0;
    margin-left: -100px;
    padding: 0 10px;
    line-height: 20px;
    background: #222;
    text-align: center;
    white-space: pre;
    cursor: pointer; }
    /* line 61, ../../../app/stylesheets/humanmsg.sass */
    #humanMsgLog p:hover {
      background: #111; }
  /* line 64, ../../../app/stylesheets/humanmsg.sass */
  #humanMsgLog ul {
    background: #ccc;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 180px;
    overflow: auto;
    display: none;
    border-top: 3px solid #222; }
    /* line 74, ../../../app/stylesheets/humanmsg.sass */
    #humanMsgLog ul li {
      color: #222;
      font-size: 12px;
      list-style-type: none;
      border-bottom: 2px solid #999;
      line-height: 40px;
      display: none;
      padding: 0 20px;
      position: relative;
      overflow: hidden;
      white-space: pre; }
      /* line 86, ../../../app/stylesheets/humanmsg.sass */
      #humanMsgLog ul li:hover {
        background: #ddd; }
      /* line 89, ../../../app/stylesheets/humanmsg.sass */
      #humanMsgLog ul li:first-child {
        margin-top: 1px; }
      /* line 92, ../../../app/stylesheets/humanmsg.sass */
      #humanMsgLog ul li .error {
        color: orangered; }
      /* line 95, ../../../app/stylesheets/humanmsg.sass */
      #humanMsgLog ul li .indent {
        position: absolute;
        top: 0;
        left: 100px;
        margin-right: 200px;
        height: inherit; }
