body
  :font-family Arial, sans-serif
  :background #cef
  :margin 0
  :padding 0
  :color #333

h1
  :font-size 2em

h2
  :font-size 1.6em

h3
  :font-size 1.3em

h4
  :font-size 1.1em

a
  :color #06b
  :font-weight bold
  img
    :border 0

.clearfix
  :clear both

#wrapper
  :background white
  :padding 1.5em 2em
  :width 55em
  :-moz-border-radius 1em
  :-webkit-border-radius 1em
  :border-radius 1em
  :margin 1em auto 0.5em

#footer
  :text-align center
  :font-size 0.8em
  :color #666
  :padding-bottom 1.5em

#header
  h1
    :float left
    :font-size 3em
    :margin 0
    :padding 0
    a
      :color #057
      :text-decoration none
    :margin-bottom 0.3em
  #user_bar
    :float right
    :margin-top 1.2em
    img
      :vertical-align middle

p
  :line-height 150%

div.flash
  :padding 4px 8px
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  :border-radius 4px
  :border 2px solid #ccc
  :margin 10px 0

div.error
  :background #fcc
  :border-color #911
  :color #311

div.notice
  :background #cfc
  :border-color #191
  :color #131

// ---

div.status
  :padding 4px 8px
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  :border-radius 4px
  :border 2px solid #ccc
  :margin 10px 0
  :background #cfc
  :border-color #191
  :color #131

  p
    :line-height 100%
    :margin 10px 0

#followers, #players
  ul
    :list-style-type none
    :margin 0
    :padding 0

    li.follower, li.player
      :float left
      :width 120px
      :font-size 0.8em
      :font-weight bold
      :margin-bottom 10px
      :position relative

      img
        :border 5px solid #eee
        :margin-bottom 2px

      .player-is-dead
        :color #fff
        :font-size 1.2em
        :top 30%
        :text-align center
        :width 58px
        :position absolute

    li.follower.hover, li.player.hover
      img
        :border 5px solid #ccc

    li.follower.selected, li.player.selected
      img
        :border 5px solid #cfc

    li.player.dead img
      :filter alpha(opacity=60)
      :opacity 0.4

  #invitations
    textarea
      :width 100%
      :margin-bottom 20px

