%table.stats{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tr 
    %td.number
      .circle= link_to(Game.pending.count, pending_games_path)
    %td.text Games Looking for Players
  %tr 
    %td.number
      .circle= link_to(Game.current.count, games_path)
    %td.text Ongoing Games
  %tr 
    %td.number
      .circle= link_to(Game.finished.count, finished_games_path)
    %td.text Archived Games

- if newest_users.any?
  %h3 Newest Villagers
  - newest_users.each do |user|
    = link_to(profile_image(user, :height => 36, :width => 36), twitter_profile_url(user), :target => '_blank')
