%p <strong>Werewolf</strong> is a simple game of strategy and deception, played by a large group of people. The game is all about making (often unfounded) accusations, lying, bluffing, second-guessing, and social engineering. This is why we like it. And why we think you'll like it, too.

#main
  %h3 Player Roles

  %p Sign in with your <a href='http://twitter.com' target='_blank'>Twitter</a> account, <a href='/games/pending'>join</a> or <a href='/games/new'>create</a> a village, and invite your friends. When enough people have joined, the game will begin and you'll be assigned a role. You will either be a werewolf or a villager (more roles are planned for later).

  %h3 Game Phases

  %p The game begins in the <strong>night phase</strong>, when all the villagers are sleeping. Meanwhile, the nasty werewolves transform and select a villager to feast upon. When the night phase ends, we'll tell you who was killed. That player is removed from the game.

  %p During the <strong>day phase</strong>, everyone gets to choose one player to lynch. You must get a majority to agree on a victim, who they suspect of being a werewolf. Once they're in agreement, that player is removed from the game. If the villagers guessed incorrectly, the night phase begins anew and the werewolves can once again remove a villager from play. It continues on like this indefinitely, until either the werewolves have killed all of the villagers, or the villagers discover the werewolves identities and destroy them all.

  %p Each period lasts a set amount of time, as configured by the games creator at setup time. If you don't vote within this time window, your player simply abstains from voting.

  %h3 Strategy

  %p What makes <strong>Werewolf</strong> interesting is the deception and social engineering that happens. This is also what makes the game so well-suited to play over a digital messaging platform like Twitter. The villagers are trying to figure out who the werewolves are, and the werewolves are pretending to be villagers, and trying to throw suspicion on real villagers. The only information that the villagers have is what their neighbors are saying -- and who dies. Pay special attention to the patterns of accusations and murder and discuss strategy with your fellow players on Twitter.

  %p What kind of strategies work well in <strong>Werewolf</strong>? Well... accusing someone else of being a werewolf is awfully suspicious. But then again, so is not accusing anyone ever. And agreeing with someone else about someone who might be a werewolf is particularly suspicious, right? Eek. Good luck.

  %h3 Resources

  %p The original offline <strong>Werewolf</strong> game was adapted from another brain game called Mafia by <a href="http://eblong.com/zarf">Andrew Plotkin</a>. Andrew has a <a href="http://www.eblong.com/zarf/werewolf.html">page dedicated to Werewolf</a> on his website, where you can find alternate rule variations, commercial playing card versions, and much more information about the history and psychology of the game. Our Twitter-based variant is a fairly simplistic at the moment, but we'll be adding more features to it over time.

  %p Thanks for playing, and <a href="mailto:info@nthmetal.com">let us know</a> if you have any questions or suggestions!

#sidebar
  %h3 Twitter Commands
  %p You can play <strong>Werewolf</strong> entirely via Twitter, without ever visiting the web interface, or you can do all your voting right on this website. To play via Twitter, the only command you really need to know is the <em><strong>vote</strong></em> (or <em><strong>kill</strong></em>) command.
  
  %p For example, to vote for killing a player, either as a werewolf or a villager, simply send a message to the gamebot like 
  
  %p <em>@gamebot I'd like to kill @zapnap</em>
  
  %p You can get creative with this if you want, but as long as the victims name is in the message and the word "kill" or "vote" is also present, it should do the trick.

  %p The gamebot will respond to you to let you know that your vote was recorded. If you're a werewolf, make sure you are sending direct messages instead of @-replies. You wouldn't want to give away your secret, after all!
