%p Werewolf is a simple game of strategy and deception, played by a large group of people (it requires at least seven players). Some people have referred to it as a 'party game', which we suppose is true, except for the fact that the game is all about making (often unfounded) accusations, lying, bluffing, second-guessing, and social engineering. This is why we like it.

%h3 Player Roles

%p When you play werewolf, a gamemaster typically assigns each person who is playing a role. There are many role variations, but in this case we'll just have two: werewolves and villagers (more are planned for later). The players keep the roles to themselves and the game begins in the night phase.

%h3 Werewolf Attacks By Night

%p During the night phase, the gamemaster (that's us!) tells everyone to go to sleep. He then tells the werewolves (or, werewolf) to wake up. The werewolves must select a villager to kill. The gamemaster then informs everyone that it is morning, and that the targeted villager has been killed by werewolves and removed from play.

%h3 Villager Accusations By Day
%p During the day phase, the villagers get to choose one player to lynch. They must get a majority to agree on a victim, who they suspect of being the wolf, and, once they're in agreement, that player is removed from the game. If the villagers guessed incorrectly, the night phase begins again and the werewolf can once again remove a villager from play. It continues on like this indefinitely, until either the werewolves have killed all of the villagers, or the villagers discover the werewolves identities and destroy them all.

%h3 Strategy

%p What makes Werewolf interesting is the deception and social engineering that goes on. This is also what makes the game so well-suited to play over a digital messaging platform like Twitter. The villagers are trying to figure out who's a werewolf, and the werewolves are pretending to be villagers, and trying to throw suspicion on real villagers. The only information that the villagers have is what each other are saying -- and who dies. Pay special attention to the patterns of accusations and deaths.

%p What kind of strategies work well in Werewolf? Well... not accusing someone else of being a Werewolf is awfully suspicious. But then again, so is not accusing anyone ever. And agreeing with someone else about someone who might be a werewolf is particularly suspicious, right? Eek. Good luck.

%h3 Resources

%p The original offline Werewolf game was adapted from another game called Mafia (created by Dimitry Davidoff) by Andrew Plotkin. Andrew has a <a href="http://www.eblong.com/zarf/werewolf.html">page dedicated to Werewolf</a> on his website, where you can find alternate rule variations, commercial versions, and much more information about the history of the game. Our version is a fairly simplistic take, but if you like it we'll certainly work on adding more complexity to it over time.

%p Thanks for playing, and <a href="mailto:info@nthmetal.com">let us know</a> if you have any questions or suggestions!
